.register-page {
  max-width: 600px;
    margin:  0 Auto;
  padding: 150px;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-text {
  font-size: 12px;
  color: #888;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  background-color: #666;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #444;
}

.required-label::after {
  content: " *";
  color: red;
}

.form-check {
  display: flex;
  align-items: center;
  gap: 10px; /* 增加勾選框與文字之間的間距 */
}

.form-check label {
  margin: 0; /* 移除不必要的邊距 */
  line-height: 1.5; /* 保持文字對齊 */
}